<!DOCTYPE html>
<html>
<body>

<h1>영업점 모니터링 시스템</h1>

<p>{{ val.title }}</p>

<iframe
  width="600"
  height="800"
  seamless
  frameBorder="0"
  scrolling="no"
  src="http://34.210.157.12:8088/superset/explore/?form_data_key=HOXYV28xnkUHeoaX0pzzFPgJvEvr54Ou3qZrOwchQZBmaCUg-6zIe90YI7WJcnQH&slice_id=9&standalone=1&height=400"
>
</iframe>

<button type="button" onclick="window.open('http://34.210.157.12:8088/superset/dashboard/2/?native_filters_key=f__m3spDLLYorCWFhjjDhQpZw3X4iwvjzUgquIOY3IEQILoxRQiMF9XMn2lDt2wo');"> 상세 영업점 내용 </button>
<button type="button" onclick="window.open('http://34.210.157.12:8088/superset/explore/?form_data_key=HOXYV28xnkUHeoaX0pzzFPgJvEvr54Ou3qZrOwchQZBmaCUg-6zIe90YI7WJcnQH&slice_id=9&standalone=1&height=400');"> 상세 영업점 내용2 </button>

</body>
</html>
